<!-- header-section-starts-here -->
<div class="header" id="movetop">
    <div class="container">
        <div class="header-top">
            <p><span class="" aria-hidden="true"></span></p>
            <div class="">
                <h1><a href="index" style="color: #bfe7cd;">OJAS College of Education</a></h1>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- navigation -->
        <div class="navigation">
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="/">Home</a></li>
                        <li class=""><a href="/about">About</a></li>
                        <li class=""><a href="/admissions">Admissions</a></li>
                        <li class=""><a href="/contact">Contact</a></li>
                        <li class=""><a href="/courses">Courses</a></li>
                        <li class=""><a href="/staff">Staff</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
        <!-- //navigation -->
    </div>
</div>
<!-- header-section-ends-here -->
