<!-- content-section-starts-here -->
<div class="content">
    <div class="about-section">
        <div class="about">
            <div class="container">
                <div class="about-top heading">
                    <h2 class="heading text-center">About US</h2>
                </div>
                <div class="about-bottom text-center">
                    <div class="col-md-10 col-md-offset-1" style="font-size: 17px;">
                        <p style="color: black;">This Institute is composed of a team of educationists working in the field of education. All efforts have been made to bring about a balanced and harmonious development for the future citizens of the country and inculcate in them high sense of patriotism.
                            <p style="color: black;">The basic objective of the society is to provide education opportunities to the masses which is more creative and innovative in their thinking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
