<div class="content">
    <!--contact-->
    <div class="contact-section">
        <div class="container">
            <h2 class="heading text-center">ADMISSION OPEN FOR SESSION 2017-19</h2>

            <p class="text-center">
            	<blockquote>Visit: <a target="_blank" href="http://www.scertdelhiadmission.org/Login/Default.aspx#">http://www.scertdelhiadmission.org/Login/Default.aspx</a></blockquote>
            </p>
        </div>
    </div>
    <!--//contact-->
</div>
