<div class="content">
    <!--contact-->
    <div class="contact-section">
        <div class="container">
            <h2 class="heading text-center">Contact Us</h2>
            <div class="contact-main">
                <div class="row">
                    <div class="col-md-6 contact-grid">
                        <form action="" method="post">
                            <span class="help-block" style="color: blue;">{if (isset($errors["sent"]))} {echo $errors["sent"]} {/if}</span>
                            <p class="your-para">Your Name:</p>
                            <input name="name" type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}" required="">
                            <span class="help-block" style="color: red;">{if (isset($errors["name"]))} {echo $errors["name"]} {/if}</span>
                            
                            <p class="your-para">Your Mail:</p>
                            <input name="email" type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}" required="">
                            <span class="help-block" style="color: red;">{if (isset($errors["email"]))} {echo $errors["email"]} {/if}</span>

                            <p class="your-para">Your Message:</p>
                            <textarea name="message" required="" cols="77" rows="6" onfocus="this.value='';" onblur="if (this.value == '') {this.value = '';}"></textarea>
                            <span class="help-block" style="color: red;">{if (isset($errors["message"]))} {echo $errors["message"]} {/if}</span>

                            <input type="hidden" name="action" value="query">
                            <div class="send">
                                <input type="submit" value="Send">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 contact-in">
                        <blockquote>
                            <p class="sed-para">Address: </p>
                            <h4>Plot No. 213, Outer Phirni Road, Mungesh Pur, Delhi-39</h4><br>
                            <h4>Contact: +91-9811755679, 011-65155679</h4><br>
                            <h4>Email: <a href="mailto:{echo $mailto}">{echo $mailto}</a></h4>
                        </blockquote>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//contact-->
</div>