<div class="content">
    <!--contact-->
    <div class="contact-section">
        <div class="container">
            <h2 class="heading text-center">Courses</h2><br>
            <h4 class="text-center">
            	- Two years diploma course in D.EL.Ed
            </h4>
        </div>
    </div>
    <!--//contact-->
</div>
