<style>
    p {
        color: black;
    }
</style>
<div class="content">
    <div class="welcome_bottom">
        <div class="container">
            <div class="welcome_head text-center" style="color: black;">
                <h2>Welcome To OJAS College of Education</h2>
                <br>
                <p style="color: black; font-size: 17px;">Ojas College of Education is recognized by NCTE (saturatory body HRD Ministry), Govt. of India and affiliated to SCERT (NCT of Delhi). The Institute is located in eco-friendly environment with equally lively and friendly interiors to provide perfect ambience for the students to realize their full potential.</p>
            </div>
            <div class="welcome-grids">
                <div class="col-md-10 col-md-offset-1 welcome_bottom_right" style="font-size: 15px;">
                    <h3>Brief</h3>
                    <p style="color: black;"> Ojas College of Education is located in a calm and serene environment accessible by DTC buses and other means of transport. The Institute has a very spacious and modern building. The chance of serving the people by running an education Institute for Teacher Training courses is a new venture.</p>
                    <p style="color: black;">This Institute is composed of a team of educationists working in the field of education. All efforts have been made to bring about a balanced and harmonious development for the future citizens of the country and inculcate in them high sense of patriotism.
                        <p style="color: black;">The basic objective of the society is to provide education opportunities to the masses which is more creative and innovative in their thinking.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //welcome -->
    <!-- News-section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="news-section-head text-center" style="font-size: 17px;">
                    <header><h3>Latest News</h3></header>
                </div>
                <div class="" id="#timeline">
                    <ul style="list-style: none;">
                        <li>
                            <blockquote class="">
                                <p>List of Selected Candidates Merit Wise. <a href="{echo CDN}images/ojas_selected_list.pdf">Click Here</a></p>
                                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                                    <img src="{echo CDN}images/photos/selected_candidates.jpg" class="img-thumbnail" alt="Content Image">
                                </div>
                            </blockquote>
                            <blockquote class="">
                                <p>List of Mgmt Quota Candidates Merit Wise. <a href="{echo CDN}images/merit_wise_list_2.pdf">Click Here</a></p>
                                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                                    <img src="{echo CDN}images/photos/merit_list_candidates.jpg" class="img-thumbnail" alt="Content Image">
                                    <small>Published: Nov 14, 2017</small>
                                </div>
                            </blockquote>
                            <blockquote class="">
                                <p>List of Candidates applied for D.EL.ED Course Session 2017-19. <a href="{echo CDN}images/applications_list_2.pdf">Click Here</a></p>
                                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                                    <img src="{echo CDN}images/photos/candidates_applied.jpg" class="img-thumbnail" alt="Content Image">
                                    <small>Published: Nov 12, 2017</small>
                                </div>
                            </blockquote>
                            <blockquote class="">
                                <p>Management Seats in D.EL. ED Course 2017-19. <a href="{echo CDN}images/mgmt-quota2.pdf">Click Here</a></p>
                                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8">
                                    <img src="{echo CDN}images/snipimage.jpg" class="img-thumbnail" alt="Content Image">
                                    <small>Published: Oct 25, 2017</small>
                                </div>
                            </blockquote>
                        </li>
                        <!-- <li>
                            <blockquote class="">
                                <p>List of selected candidates on 23.09.16 <a href="{echo CDN}docs/list_23_2.pdf">Click Here</a></p>
                                <small>Published: Sep 23, 2016</small>
                            </blockquote>
                        </li>
                        <li>
                            <blockquote class="">
                                <p>List of applied/eligible candidates Merit wise on 22.09.16 <a href="{echo CDN}docs/list_23.pdf">Click Here</a></p>
                                <small>Published: Sep 22, 2016</small>
                            </blockquote>
                        </li>
                        <li>
                            <blockquote class="">
                                <p>List of Candidates applied under management quota for D.EL.ED Course Session 2016-18 <a href="{echo CDN}docs/list_21.pdf">Click Here</a></p>
                                <small>Published: Sep 21, 2016</small>
                            </blockquote>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>