<div class="content">
    <!--contact-->
    <div class="contact-section">
        <div class="container">
        	{if (false)}
            <div class="text-center">
                <h2> STAFF</h2>
                <img src="{echo CDN}img/staff1	.png">
                <img src="{echo CDN}img/staffb.png">
                <img src="{echo CDN}img/staffc.png">
            </div>
            <div class="text-center">
                <h2>TEACHERS</h2>
                <img src="{echo CDN}img/teacha.png">
                <img src="{echo CDN}img/teachfb.png">
                <img src="{echo CDN}img/teachc.png">
            </div>
            {/if} {else}
            <h2 class="heading text-center">Under Construction !!</h2>
            {/else}
        </div>
        <!--//contact-->
    </div>
